HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

logs/*

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/





## UI
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/main/app/node_modules
src/main/app/.pnp
src/main/app/.pnp.js

# testing
src/main/app/coverage

# production
src/main/app/build

# misc
src/main/app/.DS_Store
src/main/app/.env.local
src/main/app/.env.development.local
src/main/app/.env.test.local
src/main/app/.env.production.local

src/main/app/npm-debug.log*
src/main/app/yarn-debug.log*
src/main/app/yarn-error.log*
